* {
    border: none;
    border-radius: 0;
    font-family: Hack Nerd Font;
    font-size: 14px;
    min-height: 20pt;
}

  @define-color background #1d2021;
  @define-color background-alt #3c3836;
  @define-color foreground #ebdbb2;
  @define-color primary #98971a;
  @define-color secondary #bd93f9;
  @define-color alert #fb4934;
  @define-color disabled #665c54;

window#waybar {
    background: @background;
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: @foreground;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @foreground;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: @background-alt;
    border-bottom: 3px solid white;
}

#volume,
#idle_inhibitor,
#network,
#cpu,
#memory,
#tray,
#mode,
#clock,
#backlight,
#window,
#battery {
    padding: 0 10px;
}

#mode {
    background: @alert;
    border-bottom: 3px solid white;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

